# COHORT 14 AND 15 PYTHON ACADEMY PROJECT

## Project Brief:
Badmus Kwasi is a student of OneCampus enrolled in the Data Science Program. Badmus belongs to a cohort of over 800 students. During the first few bootcamps, Badmus observes the difficulty students in all the cohorts of OneCampus have in knowing their Bootcamp dates and times in their local/county time zones. This difficulty often results in students logging in too early, too late, or totally missing their bootcamps. Bootcamp times are always issued in Eastern Standard Time (EST) which is approximately UTC -5. This is the America_New York time. OneCampus has students in all the time zones of the world.

Badmus wants to develop a PYTHON-ONLY application that can be used to convert Bootcamp times from EST to any of the time zones requested by a student. The app should be able to convert the given date and time (Day and Time) to the requested time zone day and time.

The app should be able to store information about upcoming bootcamps by program type (Data Science, Machine Learning, and Data Analytics) using python containers ONLY and provide a corresponding list of the schedules in any time zone or country requested by a student. This app must not have any database implemented and should not read from nor save to any file on disk. All data MUST be stored in python code using containers ONLY.

As a bonus,if a student provides his/her full name, Country name and time zone, and email address, the app can generate an alert for the student on their computer (no need for an email script) notifying the student 24 hours before their next Bootcamp start time and 2 hours before Bootcamp Scedule (see attached excel sheet)
Also provided are two lists of world time zone times.

One lists contains times by country while the second list provides time by time zone. 

This is a list of all the time zone names along with their offset in seconds from UTC and also offset during daylight savings time from UTC. The format of the csv is simply timezone, offset, offset_dst.

## Project Specifications:
App Capability
1. App should hold information about the times in countries of the world (two lists have been provided. One contains 588 Countries times while the other has times for 404 countries).
- a. Should therefore be able to tell the current time in any country specified by the user by simply reading the current system time and time zone
2. App should hold the time zones and times of the 200 time zones provided.
- a. Should therefore be able to tell the time zone of any country specified by the user.
3. When provided the name of a source country and time zone, the app should be able to provide the equivalent time in any specified target country and display its time zone.
4. App should be able to generate the Bootcamp schedule in the time/timezone of any country specified.
5. As a bonus, the app should be able to read the current system time and alert the user if any upcoming Bootcamp is less than 24 hours from the current system time.
6. Additional bonus: Implement code with a database backend and a Graphical User Interface.

## Importing Required Libraries

In [3]:
import datetime as dt
import pandas as pd

## Dictionary Country Offset Pair

In [4]:
# Dictionary of country and time {c_t}
c_t = {
    'abidjan': 0, 'accra': 0, 'addis_ababa': 10800, 'algiers': 3600,
    'asmara': 10800, 'asmera': 10800, 'bamako': 0, 'bangui': 3600,
    'banjul': 0, 'bissau': 0, 'blantyre': 7200, 'brazzaville': 3600,
    'bujumbura': 7200, 'cairo': 7200, 'casablanca': 0, 'ceuta': 3600,
    'conakry': 0, 'dakar': 0, 'dar_es_salaam': 10800, 'djibouti': 10800,
    'douala': 3600, 'el_aaiun': 0, 'freetown': 0, 'gaborone':7200,
    'harare': 7200, 'johannesburg': 7200, 'juba': 10800, 'kampala': 10800,
    'khartoum': 10800, 'kigali': 7200, 'kinshasa': 3600, 'lagos': 3600,
    'libreville': 3600, 'lome': 0, 'luanda': 3600, 'lubumbashi': 7200,
    'lusaka': 7200, 'malabo': 3600, 'maputo': 7200, 'maseru': 7200, 
    'mbabane': 7200, 'mogadishu': 10800, 'monrovia': 0, 'nairobi': 10800,
    'ndjamena': 3600, 'nouakchott': 0, 'ouagadougou': 0, 'porto_novo': 3600,
    'sao_tome': 0, 'timbuktu': 0, 'tripoli': 7200, 'tunis': 3600,
    'windhoek': 3600, 'adak': -36000, 'anchorage': -32400, 'anguilla': -14400,
    'antigua': -14400, 'araguaina': -10800, 'buenos_aires': -10800, 'catamarca': -10800,
    'comodrivadavia': -10800, 'cordoba': -10800, 'jujuy': -10800, 'la_rioja': -10800,
    'mendoza': -10800, 'rio_gallegos': -10800, 'salta': -10800, 'san_juan': -10800,
    'tucuman': -10800, 'ushuaia': -10800, 'aruba': -14400, 'asuncion': -10800,
    'atikokan': -10800, 'atka': -36000, 'bahia': -10800, 'bahia_banderas': -21600, 
    'barbados': -14400, 'belem': -10800, 'belize': -21600, 'blanc_sablon': -14400,
    'boa_vista': -14400, 'bogota': -18000, 'boise': -25200, 'buenos_aires': -10800,
    'cambridge_bay': -25200, 'campo_grande': -14400, 'cancun': -18000, 'caracas': -16200,
    'catamarca': -10800, 'cayenne': -10800, 'cayman': -18000, 'chicago': -21600,
    'chihuahua': -25200, 'coral_harbour': -18000, 'cordoba': -10800, 'costa_rica': -21600,
    'creston': -25200, 'cuiaba': -14400, 'curacao': -14400, 'danmarkshavn': 0,
    'dawson': -28800, 'dawson_creek': -25200, 'denver': -25200, 'detroit': -18000,
    'dominica': -14400, 'edmonton': -25200, 'eirunepe': -18000, 'el_salvador': -21600,
    'ensenada': -28800, 'fort_nelson': -25200, 'fort_wayne': -18000, 'fortaleza': -10800,
    'glace_bay': -14400, 'godthab': -10800, 'goose_bay': -14400, 'grand_turk': -14400,
    'grenada': -14400, 'guadeloupe': -14400, 'guatemala': -21600, 'guayaquil': -18000,
    'guyana': -14400, 'halifax': -14400, 'havana': -18000, 'hermosillo': -25200,
    'indianapolis': -18000, 'knox': -21600, 'marengo': -18000, 'petersburg': -18000,
    'tell_city': -21600, 'vevay': -18000, 'vincennes': -18000, 'winamac': -18000, 
    'indianapolis': 18000, 'inuvik': -25200, 'iqaluit': -18000, 'jamaica': -18000,
    'jujuy': -10800, 'juneau': -32400, 'louisville': -18000, 'monticello': -18000,
    'knox_in': -21600, 'kralendijk': -14400, 'la_paz': -14400, 'lima': -18000, 
    'los_angeles': -28800, 'louisville': -18000, 'lower_princes': -14400, 'maceio': -10800,
    'managua': -21600, 'manaus': -14400, 'marigot': -14400, 'martinique': -14400, 
    'matamoros': -21600, 'maazatlan': -25200, 'menominee': -21600, 'merida': -21600,
    'metlakatla': -28800, 'mexico_city': -21600, 'miquelon': -10800, 'moncton': -14400,
    'monterrey': -21600, 'montevideo': -10800, 'montreal': -18000, 'montserrat': -14400,
    'nassau': -18000, 'new_york': -18000, 'nipigon': -18000, 'nome': -32400, 
    'noronha': -7200, 'beulah': -21600, 'center': -21600, 'new_salem': -21600,
    'ojinaga': -25200, 'panama': -18000, 'pangnirtung': -18000, 'paramaribo': -10800,
    'phoenix': -25200, 'port_au_prince': -18000, 'port_of_spain': -14400, 'porto_acre': -18000,
    'rainy_river': -21600, 'rankin_inlet': -21600, 'recife': -10800, 'regina': -21600,
    'resolute': -21600, 'rio_branco': -18000, 'rosario': -10800, 'santa_isabel': -28800,
    'santarem': -10800, 'santiago': -10800, 'sao_paulo': -10800, 'scoresbysund': -3600,
    'shiprock': -25200, 'sitka': -32400, 'st_barthelemy': -14400, 'st_johns': -12600,
    'st_kitts': -14400, 'st_lucia': -14400, 'st_thomas': -14400, 'st_vincent': -14400,
    'swift_current': -21600, 'tegucigalpa': -21600, 'thule': -14400, 'thunder_bay': -18000,
    'tijuana': -28800, 'toronto': -18000, 'tortola': -14400, 'vancouver': -28800, 
    'virgin': -14400, 'whitehorse': -28800, 'winnipeg': -21600, 'yakutat': -32400, 
    'yellowknife': -25200, 'casey': 28800, 'davis': 25200, 'dumontdurville': 36000,
    'macquarie': 39600, 'mawson': 18000, 'mcmurdo': 43200, 'palmer': -10800, 
    'rothera': -10800, 'south_pole': 43200, 'syowa': 10800, 'troll': 0, 
    'vostok': 21600, 'longyearbyen': 3600, 'aden': 10800, 'almaty': 21600, 
    'amman': 7200, 'anadyr': 43200, 'aqtau': 18000, 'aqtobe': 18000,
    'ashgabat': 18000, 'baghdad': 10800, 'bahrain': 10800, 'baku': 14400,
    'bangkok': 25200, 'beirut': 7200, 'bishkek': 21600, 'brunei': 28800,
    'calcutta': 19800, 'chita': 28800, 'choibalsan': 28800, 'chongqing': 28800,
    'chungking': 28800, 'colombo': 19800, 'dacca': 21600, 'damascus': 7200,
    'dhaka': 21600, 'dili': 32400, 'dubai': 14400, 'dushanbe': 18000, 
    'gaza': 7200, 'harbin': 28800, 'hebron': 7200, 'ho_chi_minh': 25200,
    'hong_kong': 28800, 'hovd': 25200, 'irkutsk': 28800, 'istanbul': 7200,
    'jakarta': 25200, 'jayapura': 32400, 'jerusalem': 7200, 'kabul': 16200,
    'kamchatka': 43200, 'karachi': 18000, 'kashgar': 21600, 'kathmandu': 20700, 
    'katmandu': 20700, 'khandyga': 32400, 'kolkata': 19800, 'krasnoyarsk': 25200,
    'kuala_lumpur': 28800, 'kuching': 28800, 'kuwait': 10800, 'macao': 28800,
    'macau': 28800, 'magadan': 36000, 'makassar': 28800, 'manila': 28800,
    'muscat': 14400, 'nicosia': 7200, 'novokuznetsk': 25200, 'novosibirsk': 21600,
    'omsk': 21600, 'oral': 18000, 'phnom_penh': 25200, 'pontianak': 25200,
    'pyongyang': 30600, 'qatar': 10800, 'qyzylorda': 21600, 'rangoon': 23400,
    'asia_riyadh': 10800, 'asia_riyadh87': 10800, 'asia_riyadh88': 10800, 'asia_riyadh89': 10800,
    'saigon': 25200, 'sakhalin': 36000, 'samarkand': 18000, 'seoul': 32400, 
    'shanghai': 28800, 'singapore': 28800, 'srednekolymsk': 39600, 'taipei': 28800,
    'tashkent': 18000, 'tbilisi': 14400, 'tehran': 12600, 'tel_aviv': 7200, 
    'thimbu': 21600, 'thimphu': 21600, 'tokyo': 32400, 'ujung_pandang': 28800,
    'ulaanbaatar': 28800, 'ulan_bator': 28800, 'urumqi': 21600, 'vientiane': 25200,
    'vladivostok': 36000, 'yakutsk': 32400, 'yekaterinburg': 18000, 'yerevan': 14400,
    'azores': -3600, 'bermuda': -14400, 'canary': 0, 'cape_verde': -3600, 
    'faeroe': 0, 'faroe': 0, 'jan_mayen': 3600, 'madeira': 0, 'reykjavik': 0, 
    'south_georgia': -7200, 'st_helena': 0, 'stanley': -10800, 'act': 36000,
    'adelaide': 34200, 'brisbane': 36000, 'broken_hill': 34200, 'canberra': 36000,
    'currie': 3600, 'darwin': 34200, 'eucla': 31500, 'hobart': 36000, 'lhi': 37800,
    'lindeman': 36000, 'lord_howe': 37800, 'melbourne': 36000, 'nsw': 36000,
    'north': 34200, 'perth': 28800, 'queensland': 36000, 'south': 34200, 
    'sydney': 36000, 'tasmania': 36000, 'victoria': 36000, 'west': 28800,
    'yancowinna': 34200, 'acre': -18000, 'denoronha': -7200, 'east': -10800,
    'west': -14400, 'cet': 3600, 'cst6cdt': -21600, 'atlantic': -14400, 
    'central': -21600, 'east_saskatchewan': -21600, 'eastern': -18000,'mountain': -25200,
    'newfoundland': -12600, 'pacific': -28800, 'saskatchewan': -21600, 'yukon': -28800,
    'continental': -10800, 'easterisland': -18000, 'cuba': -18000, 'eet': 7200,
    'est': -18000, 'est5edt': -18000, 'egypt': 7200, 'eire': 0, 'gmt': 0, 
    'gmt+0': 0, 'gmt+1': -3600, 'gmt+10': -36000, 'gmt+11': -39600, 'gmt+12': -43200,
    'gmt+2': -7200, 'gmt+3': -10800, 'gmt+4': -14400, 'gmt+5': -18000, 'gmt+6': -21600,
    'gmt+7': -25200, 'gmt_8': -28800, 'gmt+9': -32400, 'gmt-0': 0, 'gmt-1': 3600, 
    'gmt-10': 36000, 'gmt-11': 39600, 'gmt-12': 43200, 'gmt-13': 46800, 'gmt-14': 50400,
    'gmt-2': 7200, 'gmt-3': 10800, 'gmt-4': 14400, 'gmt-5': 18000, 'gmt-6': 21600, 
    'gmt-7': 25200, 'gmt-8': 28800, 'gmt-9': 32400, 'gmt0': 0, 'greenwich': 0,
    'uct': 0, 'utc': 0, 'universal': 0, 'zulu': 0, 'amsterdam': 3600, 'andorra': 3600,
    'athens': 7200, 'belfast': 0, 'belgrade': 3600, 'berlin': 3600, 'bratislava': 3600,
    'brussels': 3600, 'bucharest': 7200, 'budapest': 3600, 'busingen': 3600, 
    'chisinau': 7200, 'copenhagen': 3600, 'dublin': 0, 'gibraltar': 3600, 
    'guernsey': 0, 'helsinki': 7200, 'isle_of_man': 0, 'istanbul': 7200, 
    'jersey': 0, 'kaliningrad': 7200, 'kiev': 7200, 'lisbon': 0, 'ljubljana': 3600,
    'london': 0, 'luxembourg': 3600, 'madrid': 3600, 'malta': 3600, 'mariehamn': 7200,
    'minsk': 10800, 'monaco': 3600, 'moscow': 10800, 'nicosia': 7200, 'oslo': 3600, 
    'paris': 3600, 'podgorica': 3600, 'prague': 3600, 'riga': 7200, 'rome': 3600, 
    'samara': 14400, 'san_marino': 3600, 'sarajevo': 3600, 'simferopol': 7200, 
    'skopje': 3600, 'sofia': 7200, 'stockholm': 3600, 'tallinn': 7200, 'tirane': 3600,
    'tiraspol': 7200, 'uzhgorod': 7200, 'vaduz': 3600, 'vatican': 3600, 'vienna': 3600,
    'vilnius': 7200, 'volgograd': 10800, 'warsaw': 3600, 'zagreb': 3600, 
    'zaporozhye': 7200, 'zurich': 3600, 'factory': 0, 'gb': 0, 'gb_eire': 0, 'gmt': 0,
    'gmt+0': 0, 'gmt-0': 0, 'gmt0': 0, 'greenwich': 0, 'hst': -36000, 'hongkong': 28800,
    'iceland': 0, 'antananarivo': 10800, 'chagos': 21600, 'christmas': 25200,
    'cocos': 23400, 'comoro': 10800, 'kerguelen': 18000, 'mahe': 14400, 
    'maldives': 18000, 'mauritius': 14400, 'mayotte': 10800, 'reunion': 14400, 
    'iran': 12600, 'israel': 7200, 'jamaica': -18000, 'japan': 32400, 'kwajalein': 43200,
    'libya': 7200, 'met': 3600, 'mst': -25200, 'mst7mdt': -25200, 'bajanorte': -28800,
    'bajasur': -25200, 'general': -21600, 'mideast_riyadh87': 0, 'mideast_riyadh88': 0,
    'mideast_riyadh89': 0, 'nz': 43200, 'nz_chat': 45900, 'navajo': 0, 'prc': 0, 
    'pst8pdt': 0, 'apia': 46800, 'auckland': 43200, 'bougainville': 39600,
    'chatham': 45900, 'chuuk': 36000, 'easter': -18000, 'efate': 39600, 
    'enderbury': 46800, 'fakaofo': 46800, 'fiji': 43200, 'galapagos': -21600, 
    'gambier': -32400, 'guadalcanal': 39600, 'guam': 36000, 'honolulu': -36000, 
    'johnston': -36000, 'kiritimati': 50400, 'kosrae': 39600, 'kwajalein': 43200,
    'majuro': 43200, 'marquesas': -34200, 'midway': -39600, 'nauru': 43200, 
    'niue': -39600, 'norfolk': 39600, 'noumea': 39600, 'pago_pago': -39600, 
    'palau': 32400, 'pitcairn': -28800, 'ponape': 39600, 'port_moresby': 36000, 
    'rarotonga': -36000, 'saipan': 36000, 'samoa': -39600, 'tahiti': -36000,
    'tarawa': 43200, 'tongatapu': 46800, 'truk': 36000, 'wake': 43200, 'wallis': 43200, 
    'yap': 36000, 'poland': 3600, 'portugal': 0, 'roc': 28800, 'rok': 32400, 
    'singapore': 28800, 'turkey': 7200, 'uct': 0, 'alaska': -32400, 'aleutian': -36000, 
    'arizona': -25200, 'central': -21600, 'east_indiana': -18000, 'eastern': -18000,
    'hawaii': -36000, 'indiana_starke': -21600, 'michigan': -18000, 'mountain': -25200, 
    'pacific': -28800, 'pacific_new': -28800, 'samoa': -39600, 'utc': 0, 'universal': 0,
    'w_su': 10800, 'wet': 0, 'zulu': 0
}

# The below country are duplicates with different offset.
duplicates = ['riyadh', 'riyadh87', 'riyadh88', 'riyadh89']

## Function to Handle Time conversion
I'll create a function to convert the current system time to a specified country time. This function will also have the capability to collect time details of a source country and convert it to a target country time.

In [5]:
# Convert current time to foreign time
def convB():
    print("=" * 80)
    print("THIS FUNCTION CONTAINS TWO SECTION.\
    \nSECTION 1 converts your current system time to another country's time.\
    \nWhile SECTION 2 converts from a specified source country to a specified target country.\
    \nKindly follow the instrctions and input the require details according to the specified format.")
    print("=" * 80)
    print("In the below box:\
    \nEnter 1 if you are converting your current system time to a target country.\
    \nEnter 2 if you are converting from a source country to a target country.")
    print("=" * 80)
    choice = input('Choice: ').strip()
    print('=' * 80)
    if choice == '1':
        cur_cntry = input('Which country are you in? ')
        clean_cur_cntry = cur_cntry.strip().lower().replace(" ", "_")
        if clean_cur_cntry in duplicates:
            print("It seems the country you input exist in more than one location \
            \nTry adding the continent before the country. E.g Asia Riyadh87 or Mideast Riyadh87")
        elif clean_cur_cntry in c_t.keys():
            to_cntry = input('Enter the country you\'re converting to: ' )
            clean_to_cntry = to_cntry.strip().lower().replace(" ", "_")
            if (clean_to_cntry) in duplicates:
                print("It seems the country you input exist in more than one location \
                \nTry adding the continent before the country. E.g Asia Riyadh87 or Mideast Riyadh87")
            elif clean_to_cntry in c_t.keys():
                h = dt.datetime.now()
                f = h - dt.timedelta(0, c_t[clean_cur_cntry]) 
#                 print(f'time in gmt {f}')
                i = f + dt.timedelta(0, c_t[clean_to_cntry])
                print("=" * 110)
                print (f'You are in {clean_cur_cntry.title()} and the current time is {h}.\
                \nIts equivalent in {clean_to_cntry.title()} is {i}')
                print('=' * 110)
            
    elif choice == '2':
        soce_cntry = input('Enter source country: ')
        clean_soce_cntry = soce_cntry.strip().lower().replace(" ", "_")
        if clean_soce_cntry in duplicates:
            print("It seems the country you input exist in more than one location \
            \nTry adding the continent before the country. E.g Asia Riyadh87 or Mideast Riyadh87")
        elif clean_soce_cntry in c_t.keys(): 
            soce_cntry_time = input('Input source country datetime in the format YYYY:MM:DD:HH:MM: ').split(":")
            print('=' * 80)
            trgt_cntry = input('Enter the country you are converting to: ')
            clean_trgt_cntry = trgt_cntry.strip().lower().replace(" ", "_")
            if clean_trgt_cntry in duplicates:
                print("It seems the country you input exist in more than one location \
                \nTry adding the continent before the country. E.g Asia Riyadh87 or Mideast Riyadh87")
            elif clean_trgt_cntry in c_t.keys(): 
                year = int(soce_cntry_time[0])
                month= int(soce_cntry_time[1])
                day = int(soce_cntry_time[2])
                hour = int(soce_cntry_time[3])
                second = int(soce_cntry_time[4])
                soce_datetime = dt.datetime(year, month, day, hour, second);
                print('=' * 80)
                print(f'You gave this time {soce_datetime} in {clean_soce_cntry.title()}')

                timeInGMT = soce_datetime - dt.timedelta(0,c_t[clean_soce_cntry]) # time in GMT
#                 print(f'time in gmt {timeInGMT}')

                trgt_time = timeInGMT + dt.timedelta(0, c_t[clean_trgt_cntry])
                print(f'Its equivalent in {clean_trgt_cntry.title()} is {trgt_time}')
                print('=' * 80)
    else:
        print("This function does not cover the specified country or you spelt it incorrectly. \
        \nTry again")
        response = input("Do you want to try again y/n? ")
        response = response.lower()
        if response == 'y':
            restart = convB()
            print(restart)
        else:
            print("Thank you for using my converter")

In [10]:
convB()

================================================================================
THIS FUNCTION CONTAINS TWO SECTION.
SECTION 1 converts your current system time to another country's time.
While SECTION 2 converts from a specified source country to a specified target country.
Kindly follow the instrctions and input the require details according to the specified format.
================================================================================
In the below box:
Enter 1 if you are converting your current system time to a target country.
Enter 2 if you are converting from a source country to a target country.
================================================================================
Choice: 2
================================================================================
Enter source country: algiers
Input source country datetime in the format YYYY:MM:DD:HH:MM: 2022:07:24:12:30
================================================================================
Enter the country you are converting to: Addis ababa
================================================================================
You gave this time 2022-07-24 12:30:00 in Algiers
Its equivalent in Addis_Ababa is 2022-07-24 14:30:00
================================================================================

The function above will work well if the instructions are followed and input is given in the right format. It is limited to the 588 Countries listed earlier, any counry outside that will not work.

## OneCampus Bootcamp Schedules
Below is a dictonary of OneCampus scdedules for each program for the remaining year.

In [11]:
year = 2022
x = {
    '7-Jul_DA': ['7', '7-Jul', '6.00 AM', 'Cohort 14', 'Data Analytics', 'Python Variables'],
    '21-Jul_DA': ['7', '21-Jul', '6.00 AM', 'Cohort 14', 'Data Analytics', 'Python Container'],
    '4-Aug_DA': ['8', '4-Aug', '6.00 AM', 'Cohort 14', 'Data Analytics', 'Pyhton Container II'],
    '18-Aug_DA': ['8', '18-Aug', '6.00 AM', 'Cohort 14', 'Data Analytics', 'Pyhton Functions'],
    '1-Sep_DA': ['9', '1-Sep', '6.00 AM', 'Cohort 14', 'Data Analytics', 'Pyhton FunctionsII'],
    '15-Sep_DA': ['9', '15-Sep', '6.00 AM', 'Cohort 14', 'Data Analytics', 'Pyhton Pandas I'],
    '29-Sep_DA': ['9', '29-Sep', '6.00 AM', 'Cohort 14', 'Data Analytics', 'Pyhton Pandas II'],
    '8-Jul_DA': ['7', '8-Jul', '10.00 AM', 'Cohort 15', 'Data Analytics', 'Data Visualization Project 1'],
    '22-Jul_DA': ['7', '22-Jul', '10.00 AM', 'Cohort 15', 'Data Analytics', 'Data Visualization Project 2'],
    '5-Aug_DA': ['8', '5-Aug', '10.00 AM', 'Cohort 15', 'Data Analytics', 'Data Visualization Project 3'],
    '19-Aug_DA': ['8', '19-Aug', '10.00 AM', 'Cohort 15', 'Data Analytics', 'Data Visualization Project 4'],
    '2-Sep_DA': ['9', '2-Sep', '10.00 AM', 'Cohort 15', 'Data Analytics', 'Data Visualization Project 5'],
    '16-Sep_DA': ['9', '16-Sep', '10.00 AM', 'Cohort 15', 'Data Analytics', 'Data Visualization Project 6'],
    '30-Sep_DA': ['9', '30-Sep', '10.00 AM', 'Cohort 15', 'Data Analytics', 'Data Visualization Project 7'],
    
    '7-Jul_DS/ML': ['7', '7-Jul', '6.00 AM', 'Cohort 14', 'Data Science/ML', 'Python Variables'],
    '22-Jul_DS/ML': ['7', '22-Jul', '6.00 AM', 'Cohort 14', 'Data Science/ML', 'Python Container'],
    '5-Aug_DS/ML': ['8', '5-Aug', '6.00 AM', 'Cohort 14', 'Data Science/ML', 'Pyhton Container II'],
    '19-Aug_DS/ML': ['8', '19-Aug', '6.00 AM', 'Cohort 14', 'Data Science/ML', 'Pyhton Functions'],
    '2-Sep_DS/ML': ['9', '2-Sep', '6.00 AM', 'Cohort 14', 'Data Science/ML', 'Pyhton Functions II'],
    '16-Sep_DS/ML': ['9', '16-Sep', '6.00 AM', 'Cohort 14', 'Data Science/ML', 'Pyhton Pandas I'],
    '30-Sep_DS/ML': ['9', '30-Sep', '6.00 AM', 'Cohort 14', 'Data Science/ML', 'Pyhton Pandas II'],
    '8-Jul_DS/ML': ['7', '8-Jul', '10.00 AM', 'Cohort 15', 'Data Science/ML', 'Data Cleaning'],
    '21-Jul_DS/ML': ['7', '21-Jul', '10.00 AM', 'Cohort 15', 'Data Science/ML', 'Data Transformation'],
    '4-Aug_DS/ML': ['8', '4-Aug', '10.00 AM', 'Cohort 15', 'Data Science/ML', 'Data Transformation II'],
    '18-Aug_DS/ML': ['8', '18-Aug', '10.00 AM', 'Cohort 15', 'Data Science/ML', 'Feature Selection'],
    '1-Sep_DS/ML': ['9', '1-Sep', '10.00 AM', 'Cohort 15', 'Data Science/ML', 'Feature Selection II'],
    '15-Sep_DS/ML': ['9', '15-Sep', '10.00 AM', 'Cohort 15', 'Data Science/ML', 'Supervised Learning Intro'],
    '29-Sep_DS/ML': ['9', '29-Sep', '10.00 AM', 'Cohort 15', 'Data Science/ML', 'Unsupervised Learning Intro'],
}

The keys of the dictionary is the combination of the date and program, this is done to have unique strings. There are two programs, the first half is Data Analytics and the other is Data Science/Machine Learning.

## Function to Display Bootcamp Schedule with Converted Time.
The function below will not only display the bootcamp schedule(s), but will convert the default time in EST to any Country time, so long as the country is among the 588 Countries in the dictionary above.

In [12]:
def bootcamp_schedule():
    print("=" * 80)
    print("THIS FUNCTION CONTAINS TWO SECTION.\
    \nSECTION 1 display a single bootcamp schedule based on given details.\
    \nWhile SECTION 2 display all schedules for a specified program\
    \nBoth part converts the default bootcamp time, EST to the user specified time.\
    \nKindly follow the instrctions and input the require details according to the specified format. ")
    print("=" * 80)
    print("In the below box:\
    \nEnter 1 if you are checking for a single schedule.\
    \nEnter 2 if you want to view all schedules for your program.")
    print("=" * 80)
    choice = input('Choice: ').strip()
    print('=' * 80)
    
    if choice == '1':
        schedule = input('Specify your schedule with date and program, XX-Jul DA ')
        formt = schedule.strip().replace(' ', '_').strip('0')
        if formt in x.keys():
            usr_cntry = input('Specify your country: ')
            frmt_usr_cntry = usr_cntry.strip().lower().replace(" ", "_")
            if frmt_usr_cntry in duplicates:
                print("It seems the country you input exist in more than one location \
                \nTry adding the continent before the country. E.g Asia Riyadh87 or Mideast Riyadh87")
            elif frmt_usr_cntry in c_t.keys(): 
                y = year
                mn = int(x[formt][0])
                d = int(x[formt][1].split('-')[0])
                h = int(x[formt][2].split('.')[0])
                m = int(x[formt][2].split('.')[1].split(' ')[0])
                time = dt.datetime(y, mn, d, h, m)
                gmt_cnvrsn = time - dt.timedelta(0, c_t['est'])
                usr_cntry_time = gmt_cnvrsn + dt.timedelta(0, c_t[frmt_usr_cntry])
                print('=' * 80)
                print(f'YOUR BOOTCAMP SCHEDULE:\
                \nDATE: {x[formt][1]}, {year} \
                \nTIME IN EST: {time} \
                \nTIME IN YOUR COUNTRY, {frmt_usr_cntry.title()}, {usr_cntry_time} \
                \nCOHORT: {x[formt][3]} \
                \nPROGRAM: {x[formt][4]} \
                \nTOPIC: {x[formt][5]}')
                print('=' * 80)
            else:
                print("This function does not cover the specified country or you spelt it incorrectly. \
                \nTry again")
        else:
            print("The schedule you entered is out of range or not in the right format.")
                
    elif choice == '2':
        print('Input DA if you are in DATA ANALYTICS Program\
        \nInput DS/ML if you are in DATA SCIENCE/MACHINE LEARNING Program')
        print('=' * 80)
        info_box = []
        prgrm = input('Specify your program: ')
        usr_cntry = input('Specify your country: ')
        formt = prgrm.strip().upper()
        frmt_usr_cntry = usr_cntry.strip().lower().replace(" ", "_")
        if frmt_usr_cntry in duplicates:
            print("It seems the country you input exist in more than one location \
            \nTry adding the continent before the country. E.g Asia Riyadh87 or Mideast Riyadh87")
        elif frmt_usr_cntry in c_t.keys(): 
            for  date in x.keys():
                if formt == date.split('_')[1]:
                    y = year
                    mn = int(x[date][0])
                    d = int(x[date][1].split('-')[0])
                    h = int(x[date][2].split('.')[0])
                    m = int(x[date][2].split('.')[1].split(' ')[0])
                    time = dt.datetime(y, mn, d, h, m)
                    gmt_cnvrsn = time - dt.timedelta(0, c_t['est'])
                    usr_cntry_time = gmt_cnvrsn + dt.timedelta(0, c_t[frmt_usr_cntry])
                    boot_date = x[date][1] + ' ' + str(year)
                    time_in_est = time.strftime("%H:%M:%S")
                    time_in_usr_cntry = usr_cntry_time.strftime("%H:%M:%S")
                    cohort = x[date][3]
                    prgrm = x[date][4]
                    topic = x[date][5]

                    info_box.append({
                        'date': boot_date,
                        'time_in_est': time_in_est,
                        'time_in_specified_country': time_in_usr_cntry,
                        'cohort': cohort,
                        'program': prgrm,
                        'topic': topic
                    })
                    
            column_name = ['date', 'time_in_est', 'time_in_specified_country', 'cohort', 'program','topic']

            print('=' * 80)
            df = pd.DataFrame(info_box, columns= column_name)
            return df
    else:
        print("This function does not cover the specified country or you spelt it incorrectly. \
        \nTry again")

In [13]:
bootcamp_schedule()

================================================================================
THIS FUNCTION CONTAINS TWO SECTION.
SECTION 1 display a single bootcamp schedule based on given details.
While SECTION 2 display all schedules for a specified program
Both part converts the default bootcamp time, EST to the user specified time.
Kindly follow the instrctions and input the require details according to the specified format.
================================================================================
In the below box:
Enter 1 if you are checking for a single schedule.
Enter 2 if you want to view all schedules for your program.
================================================================================
Choice: 2
================================================================================
Input DA if you are in DATA ANALYTICS program
Input DS/ML if you are in DATA SCIENCE/MACHINE LEARNING Program
================================================================================
Specify your program: DA
Specify your country: accra
================================================================================

,date,time_in_est,time_in_specified_country,cohort,program,topic
0,7-Jul 2022,06:00:00,11:00:00,Cohort 14,Data Analytics,Python Variables
1,21-Jul 2022,06:00:00,11:00:00,Cohort 14,Data Analytics,Python Container
2,4-Aug 2022,06:00:00,11:00:00,Cohort 14,Data Analytics,Pyhton Container II
3,18-Aug 2022,06:00:00,11:00:00,Cohort 14,Data Analytics,Pyhton Functions
4,1-Sep 2022,06:00:00,11:00:00,Cohort 14,Data Analytics,Pyhton FunctionsII
5,15-Sep 2022,06:00:00,11:00:00,Cohort 14,Data Analytics,Pyhton Pandas I
6,29-Sep 2022,06:00:00,11:00:00,Cohort 14,Data Analytics,Pyhton Pandas II
7,8-Jul 2022,10:00:00,15:00:00,Cohort 15,Data Analytics,Data Visualization Project 1
8,22-Jul 2022,10:00:00,15:00:00,Cohort 15,Data Analytics,Data Visualization Project 2
9,5-Aug 2022,10:00:00,15:00:00,Cohort 15,Data Analytics,Data Visualization Project 3
10,19-Aug 2022,10:00:00,15:00:00,Cohort 15,Data Analytics,Data Visualization Project 4
11,2-Sep 2022,10:00:00,15:00:00,Cohort 15,Data Analytics,Data Visualization Project 5
12,16-Sep 2022,10:00:00,15:00:00,Cohort 15,Data Analytics,Data Visualization Project 6
13,30-Sep 2022,10:00:00,15:00:00,Cohort 15,Data Analytics,Data Visualization Project 7

This function has two section, the first display a single schedule based on the user input while the other display, in a DataFrame, all schedules associated with the program regardless of the Cohort. Both section has a time  converter.

## Conclusion
In other to solve the difficulty students was facing with time conversion and bootcamp schedules, two functions is designed to handle this issue.

The first function deals with the time conversion. It has the ability to read the current system time of the user and convert it to any country specified by the user. It also has the ability to take time details about one Country (Source Country) and convert it to another Country time (Target Country).

The second function handles the bootcamp shedule issue. It has the ability to show a single schedule based on the user given date and program. It can also diplay in a DataFrame format, all schedules associated with the user specified program. This function gives room for converting the default time (EST) to another time based on the user specified country.

## Limitation
- This project is limited to 588 Countries which can be found in the dictionary above.
- It works with the Universal Time (UTC) offset. Daylight savings is not considered here.
- It handles the bootcamp shedule of two programs, Data Analytics and Data Science/Machine Learning, with the date range of July to September only